/*
* Light.css
*/

:root {
    --font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --text-color-1: black;
    --bg-color-1: white;
    --bg-color-2: lightgray;
    --header-height: 80px;
    --header-bg: white;
    --main-bg: #e6e6e6;
    --hover-bg: rgba(97, 97, 97, 0.10);
    --hover-color: dodgerblue;
    --btn-validate-bg: rgb(78, 214, 139);
    --btn-cancel-bg: #212121;
    --btn-back-bg: grey;
    --btn-disabled-bg: lightgray;
    --link-color: rgb(27, 141, 255);
    --link-hover-color: dodgerblue;
    --loader-bg: rgba(223, 223, 223, 0.8);
    --loader-roller-bg: rgb(29, 29, 29);
    --logo-font-family: 'M PLUS Rounded 1c', sans-serif;
    --search-border: 1px solid #cccccc;
    --search-border-focus: rgba(43, 142, 241, 0.75);
    --search-bg: rgb(255, 255, 255);
    --search-icon-color: rgb(170, 170, 170);
    --search-list-bg: white;
    --search-list-hover-bg: rgb(240, 240, 240);
    --switch-theme-border: 1px solid grey;
    --switch-theme-bg: transparent;
    --switch-btn-bg: black;
    --timer-round-border: 1px solid rgb(167, 167, 167);
}